In [35]:
class employees:
    def __init__(self,empid, empname,empsalary):
        self.empname = empname
        self.empid = empid
        self.empsalary = empsalary
        
    def displayDetails(self):
        print('Name:',self.empname, 'EmpId:',self.empid, 'Salary:',self.empsalary)

In [62]:
e = employees('Srushti',102,75000)
e1 = employees('Kajal',103,65300)
e2 = employees('Trupti',101,76400)
print('Details of all employees')
e.displayDetails()
e1.displayDetails()
e2.displayDetails()
print("===================================")

empsal = [e.empsalary,e1.empsalary,e2.empsalary]
empsal.sort(reverse = True)
print(empsal)

Details of all employees
Name: 102 EmpId: Srushti Salary: 75000
Name: 103 EmpId: Kajal Salary: 65300
Name: 101 EmpId: Trupti Salary: 76400
===================================
[76400, 75000, 65300]

In [58]:
class employees:
    def __init__(self):
        self.empname = ['Trupti','Kajal','Komal']
        self.empid = [101,102,103]
        self.empsalary = [56900,34000,54000]
        
e = employees()
print(vars(e))
empsal = e.empsalary
empsal.sort(reverse = True)
print(empsal)

{'empname': ['Trupti', 'Kajal', 'Komal'], 'empid': [101, 102, 103], 'empsalary': [56900, 34000, 54000]}
[56900, 54000, 34000]

In [15]:
class employees:
    def __init__(self,empname,empid,empsalary):
        self.empname = empname
        self.empid = empid
        self.empsalary = empsalary
    
    def __str__(self):
        return "{},{},{}".format(self.empname,self.empid,self.empsalary)

In [8]:
help(format)

Help on built-in function format in module builtins:

format(value, format_spec='', /)
    Return value.__format__(format_spec)

    format_spec defaults to the empty string.
    See the Format Specification Mini-Language section of help('FORMATTING') for
    details.

In [31]:
e = employees('Srushti',101,76000)
e1= employees('Trupti',102,56000)
print(e)
print(e1)

l1 = list()
l1.append(e)
print(l1)
l1.append(e1)
print(l1)

for i in l1:
    print(i)
#print(emp.values())

def mysort(e):
    return e.empsalary

l1.sort(key = mysort,reverse = True)
print(l1)
for i in l1:
    print(i)

Srushti,101,76000
Trupti,102,56000
[<__main__.employees object at 0x000001E8229B2160>]
[<__main__.employees object at 0x000001E8229B2160>, <__main__.employees object at 0x000001E8229B2880>]
Srushti,101,76000
Trupti,102,56000
[<__main__.employees object at 0x000001E8229B2160>, <__main__.employees object at 0x000001E8229B2880>]
Srushti,101,76000
Trupti,102,56000

In [36]:
class employees:
    def __init__(self,empname,empid,empsalary):
        self.empname = empname
        self.empid = empid
        self.empsalary = empsalary
        
    def __init__(self):
        self.empname= 'Trupti'
        self.empid = 102
        self.salary=56000

In [39]:
e = employees()
print(e.__dict__)

e1 = employees('kajal',103,65000)
print(e1.__dict__)

static variable
stati

{'empname': 'Trupti', 'empid': 102, 'salary': 56000}

TypeError: __init__() takes 1 positional argument but 4 were given

In [38]:
l = [23,45,68,23,23,34,45,34,45,12,45]
dict1 = {}
for key in l:
    if key not in dict1:
        dict1[key] = l.count(key)
        
print(dict1)

{23: 3, 45: 4, 68: 1, 34: 2, 12: 1}

In [45]:
dict1 = {'X':'BJP','Y':'NCP','Z':'BJP'}
d = dict1.values()
l1 = list(val for val in d)
print(l1)

dict3 = {v:l1.count(v) for v in l1}
print(dict3)

['BJP', 'NCP', 'BJP']
{'BJP': 2, 'NCP': 1}

In [38]:
l1 = [{'pan_id':'A123','vote':'BJP'},
     {'pan_id':'B123','vote':'Congress'},
     {'pan_id':'C123','vote':'BJP'}]

l2 = list(i['vote'] for i in l1)
d1 = {k:l2.count(k) for k in l2}
print(d1)

{'BJP': 2, 'Congress': 1}

In [52]:
dict1 = {'fruit1':{'Apple':45,'Mango':60,'Banana':20},
        'fruit2':{'Apple':5,'Mango':20,'Watermellon':20},
        'fruit3':{'Banana':5,'Mango':60}}
dict2 = {}
for k in dict1:
    for k1 in dict1[k].keys():
        if k1 in dict2:
            dict2[k1] += dict1[k][k1]
        else :
            dict2[k1] = dict1[k][k1]
            
print(dict2)

{'Apple': 50, 'Mango': 140, 'Banana': 25, 'Watermellon': 20}