In [2]:
# 1. Check if a list contains an element
lst = [1,2,3,4,5,6,7,8]
print(lst)
5 in lst

[1, 2, 3, 4, 5, 6, 7, 8]

True

In [3]:
# 2. How to iterate over 2+ lists at the same time
l1 = [1,2,3,4]
l2 = ['pune','nagpur','mumbai','delhi']

for (a,b) in zip(l1,l2):
    print(a,b)

1 pune
2 nagpur
3 mumbai
4 delhi

In [5]:
# 3. When would you use a list vs dictionary?
# list : it is need to store the order of something.
l = [1,2,3,4,5]

# Dictionary : count the occurence of something.
dt = {'trupti':1,'srushti':2,'kajal':3}

I have done travelling
1

In [7]:
# 4. Is a list mutable? If yes,prove.
l1 = [1,2,3,'gfd','fdd']

l1[3]=4
l1[2]='dss'
print(l1)
print(id(l1))

l1.append(5)
l1.extend(['fsd',5])
print(l1)
print(id(l1))

[1, 2, 'dss', 4, 'fdd']
139776223591744
[1, 2, 'dss', 4, 'fdd', 5, 'fsd', 5]
139776223591744

In [8]:
# 5. Does a list need to be homogeneous?
l1 = [1,5.0,'trf',0,[]]
l1

[1, 5.0, 'trf', 0, []]

In [21]:
# 6. What is the difference between append and extend?
l1 = [1,2,5,6]

l1.append(8)
l1.extend([3,4,5])
print(l1)

[1, 2, 5, 6, 8, 3, 4, 5]

In [10]:
# 7. Do python lists store values or pointers?
l1 = 'trupti'
print(id(l1))

l2 = [4,5,6]
print(id(l2))
print(id(l1[0]))

139776257683056
139776223591680
139776294577200

In [11]:
# 8. What does “del” do?
l1 = [1,2,3,4,5]
del(l1[2])
print(l1)

[1, 2, 4, 5]

In [32]:
# 9. What is the difference between “remove” and “pop”?
l1 = [1,2,3,4,5]
l1.remove(3)  # it remove the selected element
print(l1)
l1.pop(2) # it remove the index
print(l1)

[1, 2, 4, 5]
[1, 2, 5]

In [39]:
# 10. Remove duplicates from a list
l1 = [1,2,3,4,5,2,3,4]
l2 = []
for i in l1:
    if i not in l2:
        l2.append(i)
    
print(l2)

[1, 2, 3, 4, 5]

In [12]:
# 11. Find the index of the 1st matching element
l1 = [1,2,3,4,5,2,3]
l1.index(3)

2

In [15]:
# 12. Remove all elements from a list
l1 = [1,2,3,4,5,6]
l1.clear()
print(l1)

l2 = ['tr','fds']
del l2[:]
print(l2)

[]
[]

In [18]:
# 13. Iterate over both the values in a list and their indices
l1 = [1,2,3,4,5,6]

for i,val in enumerate(l1):
    print("%s : %s"%(i,val))

0 : 1
1 : 2
2 : 3
3 : 4
4 : 5
5 : 6

In [60]:
# 14. How to concatenate two lists
l1 = [10,20,30,40]
l2 = [101,102,103,104]

l3 = l1+l2
    
print(str(l3))

[10, 20, 30, 40, 101, 102, 103, 104]

In [19]:
# 15. How to manipulate every element in a list with list comprehension
l1 = [10,20,30,40,50,60]
l2 = [x*2 for x in l1]
print(l2)

[20, 40, 60, 80, 100, 120]

In [65]:
# 16. Count the occurrence of a specific object in a list
l1 = [10,20,30,40,20,10,20]
l1.count(20)

3

In [24]:
# 17. How to shallow copy a list?
l1 = [10,20,30,40,20,50]
print(l1)
l2 = l1.copy()
l2.remove(30)
print(l2)

import copy
#l2 = copy.copy(l1)
#print(l2)

[10, 20, 30, 40, 20, 50]
[10, 20, 40, 20, 50]

In [70]:
# 18. Why create a shallow copy of a list?
l1 = [10,20,30,50,20]
l2 = l1.copy(l2)
print(l1)

[10, 20, 30, 50, 20]

In [28]:
# 19. How to deep copy a list?
l1 = [[11,32],55,63,76]
print(l1)
l2 = copy.deepcopy(l1)
l2[0][0]=25
print(l2)

[[11, 32], 55, 63, 76]
[[25, 32], 55, 63, 76]

In [30]:
# 20. What is the difference between a deep copy and a shallow copy?
# shallow copy : does not create new object in memory
l1 = [[54,34],67,52,36]
print(l1)
l2 = copy.copy(l1)
l2[0][1]=59
print(l2)

# deep copy : create copies of original objects
l1 = [[54,34],67,52,36]
print(l1)
l2 = copy.deepcopy(l1)
l2[0][1]=59
print(l2)

[[54, 34], 67, 52, 36]
[[54, 59], 67, 52, 36]
[[54, 34], 67, 52, 36]
[[54, 59], 67, 52, 36]

In [31]:
# 21. What is the difference between a list and a tuple.
# list is a mutable and tuple is a immutable.
l1 = ['trupti']
print(l1)

t = ('trupti',)
print(t)

['trupti']
('trupti',)

In [76]:
# 22. Return the length of a list
l1 = [3,4,5,6,7,2,1]
print("Length of list is :",len(l1))

Length of list is : 7

In [79]:
# 23. What is the difference between a list and a set?
l1 = [32,4,5,67,4]  # list is contain duplicate value
print(l1)

s = {3,4,5,6,4}  # set does not contain any duplicate value
print(s)

[32, 4, 5, 67, 4]
{3, 4, 5, 6}

In [33]:
# 24. How to check if an element is not in a list?
l1 = [2,3,4,5,6]
6 not in l1

False

In [89]:
# 25. Multiply every element in a list by 5 with the map function
l1 = [2,3,4,5,6,7]
l2 = list(map(lambda x : x*5 , l1))
print(l2)

[10, 15, 20, 25, 30, 35]

In [94]:
# 26. Combine 2 lists into a list of tuples with the zip function
l1 = [3,4,5,6,7]
l2 = [8,9,1,2,3]
l3 = list(zip(l1,l2))
print(l3)

[(3, 8), (4, 9), (5, 1), (6, 2), (7, 3)]

In [98]:
# 27. Insert a value at a specific index in an existing list
l1 = ['df','gre','tred','res']
l1.insert(2,'edd')
print(l1)

['df', 'gre', 'edd', 'tred', 'res']

In [34]:
# 28. Subtract values in a list from the first element with the reduce function
from functools import reduce
def subtract(a,b):
    return a-b

l1 = [90,4,5,6,8,3]
reduce(subtract,l1)

64

In [35]:
# 29. Remove negative values from a list with the filter function
l1 = [3,-4,-2,6,4,-7,9]
l2 = list(filter(lambda x : x>=0 ,l1))
print(l2)

[3, 6, 4, 9]

In [105]:
# 30. Convert a list into a dictionary where list elements are keys
l1 = ['trupti','srushti','kajal']
d = {i : 'pass' for i in l1}
print(d)

{'trupti': 'pass', 'srushti': 'pass', 'kajal': 'pass'}

In [36]:
# 31. Modify an existing list with a lambda function
l1 = [2,3,4,5,6,7]
l2 = list(map(lambda x : x+5 ,l1))
print(l2)

[7, 8, 9, 10, 11, 12]

In [37]:
# 32. Remove elements in a list after a specific index
l1 = [3,4,5,6,7,8,9,3,4,5]
l1[:6]

[3, 4, 5, 6, 7, 8]

In [40]:
# 33. Remove elements in a list before a specific index
l1 = [4,5,6,7,8,9,5,6,7,2]
l1[7:]

[6, 7, 2]

In [41]:
# 34. Remove elements in a list between 2 indices
l1 = [4,5,6,7,8,9,3,4,5,2]
l1[4:8]

[8, 9, 3, 4]

In [44]:
# 35. Return every 2nd element in a list between 2 indices
l1 = [2,3,4,5,6,7,8,9,4,5,6]
l1[3:9:2]

[5, 7, 9]

In [112]:
# 36. Sort a list of integers in ascending order
l1 = [3,7,4,5,8,2]
l1.sort()
print(l1)

[2, 3, 4, 5, 7, 8]

In [45]:
# 37. Sort a list of integers in descending order
l1 = [3,4,7,2,1,9,6]
l1.sort()
l1.reverse()
print(l1)

#l1.sort(reverse=True)

[9, 7, 6, 4, 3, 2, 1]

[9, 7, 6, 4, 3, 2, 1]

In [53]:
# 38. Filter even values out of a list with list comprehension
l1 = [i for i in range(20) if i%2==0]
print(l1)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [55]:
# 39. Count occurrences of each value in a list
from collections import Counter
l1 = [3,4,2,3,6,2,3,2]
Counter(l1)

Counter({3: 3, 4: 1, 2: 3, 6: 1})

In [57]:
# 40. Get the first element from each nested list in a list
l1 = [[1,3,4],[5,6],[7,6,8],[5,8]]
l2 = [i[1] for i in l1]
print(l2)

[3, 6, 6, 8]

In [67]:
# 41. What is the time complexity of insert, find and delete for a list?
# insert O(n): element insert at the begining, other elements must be shifted right.
l1 = [2,3,4,5,6]
l1.insert(2,7)
print(l1)

# find O(1): find by value is O(n) because elements need to be iterated over until the value is found.
print(l1[3])

# delete O(n): element is deleted at the begining, all other elements must to be shifted left.
l1.remove(5)
print(l1)

[2, 3, 7, 4, 5, 6]
4
[2, 3, 7, 4, 6]

In [68]:
# 42. Combine elements in a list into a single string.
l1 = ['welcome','to','python']
print(" ".join(l1))

welcome to python

In [74]:
# 43. What’s the affect of multiplying a list by an integer?
l1 = ['a','b','c']
print(l1*3)

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [76]:
# 44. Use the “any” function to return True if any value in a list is divisible by 2
l1 = [1,2,3,4]
l2 = [1,3,5]
print(any(i%2==0 for i in l1))
print(any(i%2==0 for i in l2))

True
False

In [77]:
# 45. Use the “all” function to return True if all values in a list are negative
l1 = [1,3,2,9]
l2 = [3,6,9]
print(all(i%3==0 for i in l1))
print(all(i%3==0 for i in l2))

False
True

In [79]:
# 46. Can you sort a list with “None” in it?
l1 = [3,5,7,8,6,4,None]
l1.sort()
print(l1)

TypeError: '<' not supported between instances of 'NoneType' and 'int'

In [83]:
# 47. What kind of copy would the list constructor create from an existing list?
l1 = ['a','b','c']
print(l1)
l2.append('d')
print(l2)

['a', 'b', 'c']
['a', 'b', 'c', 'd', 'd', 'd', 'd']

In [84]:
# 48. Reverse the order of a list
l1 = [4,5,6,7,8,9,2,1]
l1.reverse()
print(l1)

[1, 2, 9, 8, 7, 6, 5, 4]

In [90]:
# 49. What is the difference between reverse and reversed?
l1 = [5,6,7,8,3,4,9]
l1.reverse()               # reverse the list
print(l1)
print(list(reversed(l1)))  # return iterable of list in reverse order

[9, 4, 3, 8, 7, 6, 5]
[5, 6, 7, 8, 3, 4, 9]

In [93]:
# 50. What is the difference between sort and sorted?
l1 = [2,3,4,5,6,7,8,9]
l1.sort()                  # modifies the list
print(l1)
print(sorted(l1))          # return a new list in reverse order

[2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9]

In [95]:
# 51. Return the minimum value in a list
l1 = [4,5,6,7,8,2]
print(min(l1))

2

In [96]:
# 52. Return the maximum value in a list
l1 = [3,5,4,56,35,76,23]
print(max(l1))

76

In [97]:
# 53. Return the sum of values in a list
l1 = [4,5,6,7,8,2,3]
print(sum(l1))

35

In [99]:
# 54. Use a list as a stack
l1 = []
l1.append(45)
l1.append(65)
l1.append('trd')
print(l1)
l1.pop()
print(l1)

[45, 65, 'trd']
[45, 65]

In [100]:
# 55. Find the intersection of 2 lists
l1 = [5,6,7,8]
l2 = [7,4,5,6]
set(l1) & set(l2)

{5, 6, 7}

In [102]:
# 56. Find the difference between a set and another set
l1 = [4,5,6,7]
l2 = [6,7,8,9]
print(set(l1) - set(l2))
print(set(l2) - set(l1))

{4, 5}
{8, 9}

In [106]:
# 57. Flatten a list of lists with a list comprehensions
l1 = [[5,6,3],[4,2,8]]
l2 = [i for j in l1 for i in j]
print(l2)

[5, 6, 3, 4, 2, 8]

In [109]:
# 58. Generate a list of every integer between 2 values
l1 = list(range(0,6))
print(l1)

[0, 1, 2, 3, 4, 5]

In [110]:
# 59. Combine 2 lists into a dictionary
l1 = ['fds','gfd','utr']
l2 = [5,6,7]
l3 = dict(zip(l1,l2))
print(l3)

{'fds': 5, 'gfd': 6, 'utr': 7}

In [112]:
# 60. Reverse the order of a list using the slice syntax
l1 = [6,5,7,8,3]
print(l1[::-1])

[3, 8, 7, 5, 6]